<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>게시물 수정 페이지</title>
</head>
<body>
<form th:action="@{'/post/edit/' + ${boardDto.id}}" th:method="put">
  이름: <input type="text" name="name" th:value="${boardDto.name}"> <br>
  나이: <input type="number" name="age" th:value="${boardDto.age}"> <br>
  학과: <input type="text" name="major" th:value="${boardDto.major}"> <br>
  간단한 자기소개<br>
  <textarea name="introduction">[[${boardDto.introduction}]]</textarea><br>

  <input type="submit" value="수정">
</form>
</body>
</html>